@font-face {
  font-family: generalFont;
  src: url('../fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: headerFont;
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: secondaryFont;
  src: url('../fonts/Roboto-Thin.ttf') format('truetype');
}
